<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
<% if (theme.rss){ %>
<link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
<% } %>
<% if (theme.favicon){ %>
<link rel="icon" href="<%- theme.favicon %>">
<% } %>
<link href="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/css/style.css?v=<%=theme.version%>" rel="stylesheet">
<% if(theme.highlight && theme.highlight.on && theme.highlight.theme){ %>
<link href="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/css/hl_theme/<%=theme.highlight.theme %>.css?v=<%=theme.version%>" rel="stylesheet">
<%}%>
<link href="<%=theme.CDN.animate %>" rel="stylesheet">
<% if (theme.img_resize == 'photoSwipe') {%>
<link href="<%=theme.CDN.photoswipe_css%>" rel="stylesheet">
<link href="<%=theme.CDN.photoswipe_skin_css%>" rel="stylesheet">
<% } %>
<script src="<%=theme.CDN.jquery%>"></script>
<script src="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/js/titleTip.js?v=<%=theme.version%>" ></script>

<script src="<%=theme.CDN.highlight %>"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<% if (theme.CDN.nprogres_js){%>
<script src="<%=theme.CDN.nprogres_js%>"></script>
<%}%>
<% if (theme.comment.type == 'disqus') {%>
<script id="dsq-count-scr" src="//<%= theme.disqus.shortname%>.disqus.com/count.js" async></script>
<% } %>
<% if (theme.comment.type == 'gitalk') {%>
<script src="<%= theme.CDN.jquery_cookie %>" ></script>
<script src="<%=theme.CDN.crypto_core_js %>"></script>
<script src="<%=theme.CDN.crypto_md5_js %>"></script>
<%}%>
<script src="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/js/iconfont.js?v=<%=theme.version%>" ></script>
