<div id="comments"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">

<script type="text/javascript">
    $.getScript('<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/js/gitalk.js', function () {
        var passhash = CryptoJS.MD5(location.pathname).toString();
        var gitalk = new Gitalk({
            clientID: '<%=theme.gitalk.ClientID %>',
            clientSecret: '<%=theme.gitalk.ClientSecret %>',
            repo: '<%=theme.gitalk.repo %>',
            owner: '<%=theme.gitalk.githubID %>',
            admin: ['<%=theme.gitalk.adminUser %>'],
            id: passhash,
            distractionFreeMode: '<%=theme.gitalk.distractionFreeMode %>',
            language: '<%=theme.gitalk.language %>',
            perPage: parseInt('<%=theme.gitalk.perPage %>',10),
            updateCountCallback: (n) => {
                 $(".count-comment").text(n);
            },
        })
        gitalk.render('comments')
    })
</script>
